@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap');

* {
    font-family: 'Noto Sans KR', sans-serif;
}
 
input{ 
    font-family: inherit; 
    font-size: 100%; 
    line-height: 1.15; 
    margin: 0px; 
    padding: 0px; 
    border: 0px; 
}

body, div{
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline; 
    font-size: 14px; 
} 

a{ 
    cursor: pointer; 
    color: rgb(33, 33, 33); 
    text-decoration: none; 
} 

button{
    background-color: transparent;
    cursor: pointer;
    outline: none;} 

h2{
    font-weight: 400;
    margin: 0px; 
}

textarea{

    direction: ltr;
    text-align: left;
    color: rgb(33, 33, 33);
    letter-spacing: -0.5px;
    outline: 0px;
    border: 0px;
    overflow: auto;
}

::before,::after{
    box-sizing: border-box;
}